@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a; /* Tailwind slate-900 */
  --foreground: #f8fafc; /* Tailwind slate-50 */
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
